<%if @newnews != 0
	@newnews.each do |newsitem| %>

	<div class="panel mypanel-category">
    	<div class="panel-heading"><%= link_to newsitem.title , "/news/" + newsitem.id.to_s %></div>
    	<div class="panel-body"><%=newsitem.body %></div>
    	<div class="panel-footer">Date: <%=newsitem.created_at %> | Comments</div>
  </div>

<%end else%>
	"Nothing found"

<%end%>