<h2><%= link_to @news.title , "/news/" + @news.id.to_s %></h2>
<p style="border-top: 1px solid #eaeaea;"><%= @news.body %></p>
<p style="border-top: 1px solid #eaeaea;">
Categories: 
<% @newscategories.each do |catindex| %>
	<%= Category.find(catindex).name %>
<%end%>
<br />
Comments here
</p>