<h2><%= link_to @news.title , "/news/" + @news.id.to_s %></h2>
<p style="border-top: 1px solid #eaeaea;"><%= @news.body %></p>
<p style="border-top: 1px solid #eaeaea;">
Categories: 
<% @newscategories.each do |catindex| %>
	<%= link_to Category.find(catindex).name , '/categories/'+ Category.find(catindex).id.to_s%>
<%end%>
<br />
Comments here
</p>