<div class="container">
    <div class="row">
    	<img src="http://icons.iconarchive.com/icons/musett/iphone-4/256/iPhone-Black-Apple-icon.png" alt="Temporary"/>
      	<p>Бүтээгдэхүүний нэр: <%= @temp.name %></p>
      	<p>Үнэлгээ: </p>
	</div>
	<div class="row">
	<p>Таны үнэлгээ: </p>
	</div>
  <p>Боломжит газрууд болон үнэ:</p>
  <% @loc.each do |location| %>
<p>
  <%= location.address + ":" + location.price.to_s + "₮" %>
</p>
  <% end %>
  
</div>