<div class="container">
    <div class="row">
    	<img src="http://icons.iconarchive.com/icons/musett/iphone-4/256/iPhone-Black-Apple-icon.png" alt="Temporary"/>
      	<p>Бүтээгдэхүүний нэр: <%= @temp %></p>
      	<p>Үнэлгээ: <%= @temp %></p>
	</div>
	<div class="row">
	<p>Таны үнэлгээ: <%= @temp %></p>
	    <input name = "star3" type = "radio" class = "star" disabled = "disabled"/>
	    <input name = "star3" type = "radio" class = "star" disabled = "disabled"/>
	    <input name = "star3" type = "radio" class = "star" disabled = "disabled"/ checked="checked">
	    <input name = "star3" type = "radio" class = "star" disabled = "disabled"/>
	    <input name = "star3" type = "radio" class = "star" disabled = "disabled"/>
	</div>
</div>