<div class="container">
      <div class="row">
	<form>
        <p>Манай сайт таны бодлоор ямар болсон байна вэ?</p>
     <input type="radio" name="poll" value="Гоё болсон байна">Гоё болсон байна<br>
    <input type="radio" name="poll" value="Дажгүй байна">Дажгүй байна<br>
    <input type="radio" name="poll" value="Байдаг л жирийн сайт байна">Байдаг л жирийн сайт байна<br>
    <input type="radio" name="poll" value="Хогын эд байна">Хогын эд байна<br>
    <input type="submit" value="Санал өгөх">		</form>
      </div>
</div>