<div class="container">
      <div class="row">
      <form>
      	<p>Always with us:</p>
	 	<input type="email" name="email"><br>
		<input type="submit" value="Submit">
	</form>
	<form>
      	<p>Poll goes like this. Any problem huh?</p>
	 	<input type="radio" name="poll" value="Yes">Male<br>
		<input type="radio" name="poll" value="No">Female<br>
		<input type="submit" value="Submit">
		</form>
      </div>
</div>