<div class="row">
      <div class="span10" id="Video">Video News</div>
      <div class="span2">
      	<div class="row">
      	<a href="#" class="span">Facebook</a>
      	<a href="#" class="span">Twitter</a>
      	<a href="#" class="span">Google+</a>
      </div>
      <form>
      	<p>Always with us:</p>
	 	<input type="email" name="email"><br>
		<input type="submit" value="Submit">
		</form>

		<form>
      	<p>Poll goes like this. Any problem huh?</p>
	 	<input type="radio" name="poll" value="Yes">Male<br>
		<input type="radio" name="poll" value="No">Female<br>
		<input type="submit" value="Submit">
		</form>
      </div>
    </div>

