<form class="navbar-form" action="/search" role="search">
  <span class="input-group" style="width:250px; text-align:right">
      <input type="text" class="form-control" placeholder="Хайлт" name="q" id="search">
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </span>
  </span>
</form>