<div class="socialstuffs">

<%= link_to image_tag("soc_fb.png", :alt => "Facebook", :title => "Facebook", :style =>"width:50px" ), "https://www.facebook.com/", :target => "_blank" %>
<%= link_to image_tag("soc_tw.png", :alt => "Twitter", :title => "Twitter", :style =>"width:50px" ), "https://www.twitter.com/", :target => "_blank"  %>
<%= link_to image_tag("soc_go.png", :alt => "Google", :title => "Google", :style =>"width:50px" ), "https://www.plus.google.com", :target => "_blank" %>
</div>