<div class="row">
  <div class="span9">
  	<topnews class="topnews">
  	<div class="row">
  	<div class="span3">
    <img src="images.jpg" alt="Top news picture" height="400" width="420">

	</div>
	<div class="span6">
	<h1>
    	Top news goes here
    </h1>

    <p>Lorem ipsum dolor sit amet, ei possit denique lobortis vix. Quo ex ridens nominavi rationibus, at paulo oportere sit. Ea agam debet maiorum vel, eirmod electram persequeris vis ex. Eu quidam gloriatur sea, has assum minim lobortis id. Sea te nonumy cetero scripserit.

Ne dicta impedit duo, et illum essent ius. Decore dolore at duo. Fastidii persequeris liberavisse in sea, nam paulo mucius ea, oportere appellantur per et. Ne vis debitis propriae suscipiantur, ex pri urbanitas theophrastus. Mei eu agam magna suscipiantur, in quo laudem latine.</p> 
	</div>
</div>    
  </div>
  </topnews>
</div>