<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	  <%= stylesheet_link_tag "admin/login", "admin/960", :media =>"all" %>
	  <%= yield :stylesheet %>
		<title>Нэвтрэх | Tngri.com </title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<!--<link href="stylesheets/960.css" rel="stylesheet" type="text/css" media="all" />
		<link href="stylesheets/reset.css" rel="stylesheet" type="text/css" media="all" />
		<link href="stylesheets/text.css" rel="stylesheet" type="text/css" media="all" />
		<link href="stylesheets/login.css" rel="stylesheet" type="text/css" media="all" /> -->
	</head>

	<body>

		  			<%= yield %>
	</body>
</html>